.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  margin: auto;
  width: 90%;
  border: 2px solid #000;
}

.th, .td {
  padding: 1%;
}

tbody tr:nth-child(odd) {
  background: rgb(233, 242, 245);
}

tbody tr:nth-child(even) {
  background: rgb(217, 226, 230);
}

.updateBtn {
  background: rgb(90, 160, 252);
  color: #fff;
  font-size: 20px;
  margin: 15px 5px 0 5px;
  border: none;
  padding: 5px;
}

.deleteBtn {
  background: rgb(252, 90, 90);
  color: #fff;
  font-size: 20px;
  margin: 15px 5px 0 5px;
  border: none;
  padding: 5px;
}

.card {
  width: 500px;
  margin: auto;
  margin-bottom: 60px;
}

.sumitBtn {
  background: rgb(90, 160, 252);
  color: #fff;
  font-size: 20px;
  /* margin: 5px 5px 0 5px; */
  border: none;
  width: 100%;
  padding: 15px;
}

.form-group {
  margin: auto;
  width: 400px;
  min-width: 200px;
  /* background: orange; */
  display: block;
}

label {
  font-size: 20px;
  font-weight: bold;
}

input {
  padding: 10px;
  width: 94%;
  margin-bottom: 10px;
}
